<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<div>
    <a href="/"><button>返回首页</button></a>

    <form method="post" action="{{.urlSubmit}}">
        用户名:
        <input type="text" name="username">
        <br>
        昵称：
        <input type="text" name="nickname">
        <br>
        密码：
        <input type="password" name="password">
        <br>
        <input type="submit" value="提交">
        <br>
    </form>
</div>

</body>
</html>